body {margin:0;
	background-color: #fff;
	font-family: oswald; /* pwede ring gawing sans-serif */

	font-size: 16px;
}
* {box-sizing: border-box;}

/* ---MODAL--- */
#myBtn:hover {
	color: green;
	cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */

  font-family: sans-serif;
  font-size: 20px;
}
.modal-content > h2, .mocal-content > h3 {
	font-weight: bolder;
}
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus,
 {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* ---NAVIGATION TABS--- */



#header {
	letter-spacing: 5px;
	background-color: #ffc44d;
	/*transition: .5s;*/
	padding: 0px 130px;
}
.sticky {
	position:
	fixed;
	top: 0;
	width: 100%;
}
.sticky + .body-content {
	padding-top: 65px;
}
.body-content {
	min-height: 62vh;
}
#business-name {
    font-family: lemon; font-size: 30px;
    display: inline-block;
    padding-right: 30px;
}
.navig-prov {
	display: inline-block;
 
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navi {
	padding: 20px 10px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#nav-basket {
	padding: 20px 0 20px 0;
	float: right;
	display: inline-block;
	font-size: 18px; font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#business-name a , .navi a , #nav-basket a { 
	color: black;
}
#business-name a:hover , .navi a:hover , #nav-basket a:hover {
	color: #fcfcfc;
	transition: .3s ease;
}
.navbar.navbar-default {
	padding: 0px 150px;
	margin: 0;
}
.nav.navbar-nav.left {
	padding: 15px 0;
}

/* ---HOME--- */


.padding-x-110 {
	padding: 110px 0;
	width: 100%;
}
.margin-t-40 {
	margin-top: 40px; 
}
.margin-t-90 {
	margin-top: 90px;
}
#tagline-description {
	display: inline-block;
	padding: 0 20px 0 100px;
	position: static;
}
	#tagline {
		font-family: oswaldreg;
		font-weight: bold;
		font-size: 40px;
		letter-spacing: 5px;
		line-height: normal;
	}
	#description {
		font-size: 20px;
		letter-spacing: 3px;
		line-height: 2;
		padding: 20px 0;
	}
#product-picture {
	position: static;
	display: inline-block;
	padding: 0;
	text-align: center;
}
#featuredItems {
	text-align: center;
	background-image: url('images/smudged-orange.png');
	background-size: 250%;
		background-repeat: repeat;
		width: 100%;
	margin: 0;
	padding: 20px 0;
}
.col-4.productDisplay {
	position: static;
	display: inline-block;
	font-size: 18px;
	text-align: center;

	border-style: solid;
	border-width: 1.2px;
	border-color: #f9f9f9;
	border-radius: 2px;
	padding: 20px 30px; 
	margin: 10px 14px;
	transition: .5s ease;
}
.moreProduct {
	font-size: 24px;
	color: black;
	text-align: center;
	padding: 20px;

}
.moreProduct > a {
	background-color: white;
	border-style: solid;
	border-width: 1.2px;
	border-color: #f9f9f9;
	border-radius: 40px;
	padding: 10px 20px;
	transition: .5s ease;
	
}
.moreProduct > a:hover {
	background-color: rgba(255, 255, 255, .2);
	color: #000;
	transition:  .5s ease;
}

.col-sm-6.homeimglogin {
	padding: 40px 0 40px 100px;
}
.col-sm-6.homelogin {
	padding: 40px 100px 40px 0;
	text-align: center;
	font-size: 30px;
	line-height: 2;
	letter-spacing: 1px;
}
.col-sm-6.homelogin > hr {
	background-color: blue;
	height: 1px;
}
.col-sm-6.homelogin > span {
	font-size: 14px;
	letter-spacing: 2px;
}
.col-sm-6.homelogin > span > a {
	text-decoration: underline;
}
.col-sm-6.homelogin > span > a:hover {
	text-decoration: none;
}
/* ---ABOUT--- */


#background-about {
	background-image: url("images/about-background.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-bottom: 60px; 
}
#about-description { 
	padding: 30px 60px 18.4px 0px;
	font-size: 30px;
	height: 400px;
	letter-spacing: 1px;
	line-height: 2;
}
#about-2nd-description {
	padding: 20px 30px 20px 70px;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 2;
	display: inline-block;
	width: 800px;
}
#about-row {
	background-color: #fff;
	margin: 0;
	padding: 50px 60px 50px 70px;
}
#about-row div {
	text-align: center;
	position: static;
}

	/*------*/

#about-group {
	padding: 15px 100px;
	background-color: #f99b46;
	transition: .5s ease;
}
#about-group:hover {
	background-color: rgb(255, 196, 77, .8);
}
#about-group2 {
	padding: 20px 100px;
	background-color: #ffc44d;
	transition: .5s ease;
	font-size: 20px;
	direction: rtl;
}
#about-group2:hover {
	background-color: rgba(242.1 , 169.4, 22.7, .5);
}
#a-group-description {
	display: inline-block;
	text-align: center;
	padding: 20px;
	font-size: 35px;
	line-height: 1.5;
}

/* - about pics / */

#about-arrow {
	float: left;
	padding: 0px 30px 30px 0px;
}
.about-logo img {
	width: 300px;
	height: auto;
}
.about-logo {
	display: inline-block;
	vertical-align: top;
}

/* ---FAQs--- */


#divisions-faq {
	margin-top: 90px;
}
#Header-FAQs {
	padding: 15px 90px;
	font-family: oswaldreg; font-size: 52px;
	direction: rtl;
}
#faq-body {
	font-size: 19px;
}
#faq-body > hr {
	width: 200px;
	text-align: center;
	background-color: #ffa500;
	border-style: solid;
	border-width: 1px;
	border-color: #ffa500;
}
#faq-questions {
	margin: 0 0 50px 90px;
	display: inline-block;
}
.faq-subquestions , .faq-answers {
	border-color: #ababab;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
}
.faq-subquestions {
	width: 800px;
	background-color: #ffd580;
}
.faq-answers {
	width: 600px;
	background-color: #e7e7e7;
}
#faq-sidebar {
	margin: 0px 90px 50px 0px;
	padding: 20px 30px 20px 30px;
	display: inline-block;
	float: right;
	text-align: center;

	border-color: #f99b46 #ababab #ababab #ababab;
	border-width: 7px 2px 2px 2px;
	border-style: solid;
	border-radius: 3px;
}
#faq-sidebar > span > a {
	text-decoration: underline;
} #faq-sidebar > span > a:hover {
	text-decoration: none;
}
#faq-sidebar-sec1 {
	font-weight: bold;
	font-size: 19px;
	text-align: center;
}
#faq-sidebar-sec2 {
	text-align: center;
	padding: 0;
	font-weight: bold;
	font-size: 19px;
}
#faq-sidebar > span {
	font-size: 14px;
	text-align: center;
}

/* ---PRODUCT-PAGE--- */

#product-header{
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 33px;
	padding: 0 10%;
}
#products {
	display: inline-block;
	padding: 0 120px 20px 120px;
	width: 70%;
}
#products form {
	padding: 10px 0;
}
.product-quantity {
	width: 20%;
	font-size:14px;
	padding: 4px 2px 2px 2px;
	border-radius: 3px;
	border-style: ridge;
}
.qty-box {
	width: 100%;
	font-size:14px;
	padding: 4px 2px 2px 2px;
	border-radius: 3px;
	border-style: ridge;
}
.font13em {
	font-size: 13px;
	font-style: italic;
}
.product-name {
	padding-top: 10px; font-size: 20px;
}
.product-pic img {
	width: 250px;
	height: 250px;
	padding: 10px;
}
.borderline-product {
	padding: 20px 0; 
	margin: 0 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #f99b46;
}
.col-6.items {
	position: static;
	display: inline-block; clear: both;
	font-size: 18px;

	border-style: solid;
	border-width: 2px;
	border-color: #aeaeae;
	border-radius: 3px;
	padding: 20px 30px; 
	margin: 10px 14px;
	transition: .5s ease;
}
.col-6.items:hover {
	border-color: #f99b46;
	background-color: #ffd087;
}
.bam {
	text-decoration: none;
	font-weight: bold; font-size: 15px;
	letter-spacing: 3px;
	background-color: #fff;
	padding: 5px;
	border-radius: 3px;
	border-style: ridge;
	border-width: 2px;
	transition: .3s ease;
}
.bamColor {
	border-color: #fbd27e;}
.bam.bamColor:hover {
	cursor: pointer;
	color: #000;
	background-color: rgba(0, 255, 0, .4);
	border-color: #f6a708;
}
.bamColor2 {
	color: #212121;
	border-color: #fff;
	background-color: #fbd27e;
}
.bam.bamColor2:hover {
	color: #fff;
	background-color: #f6a708;
	border-color: #212121;
}
#prod-sidebar {
	display: inline-block;
	vertical-align: top;
	align-self: center;
	width: 22%;
}
#psidebar {
	padding: 10px 15px 10px 15px;
	border-color: #f99b46 #eaeaea #eaeaea #eaeaea;
	border-width: 7px 2px 2px 2px;
	border-style: solid;
	border-radius: 7px;
}
#prod-sidebar hr {
	height: 10px;
}
.prod-sidebar-sec1 {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
#prod-sidebar-span1 {
	font-size: 23px; font-weight: bold;
}
#basket-sidebar {
	margin: 20% 0;
	width: 100%;
}
.pbasket-td {
	padding: 10px 10px;
	display: inline-block;
}
.pb_item, .pb_num, .pb_total, .pb_ri {
	display: inline-block;
}
.pb_item {
	width: 40%;
}
.pb_num {
	width: 20%;
}
.pb_total {
	width: 60%;
}
.pb_ri {
	width: 10%;
}
.product-pic:hover {
	opacity: 1;
}
#reminder-box {
	padding: 5px;
	font-size: 15px;
}
#reminder-box > h4 {
	font-weight: bold;
	color: #13c62e;
}
.myacc-sidebar {
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}
.myacc-sidebar {
	margin: 10px auto;
}
.myacc-class {
	font-size: 120%;
	padding: 5px 15px;
	background-color: rgba(0, 0, 255, .3);
	border-width: 1px;
	border-color: #4a6bff;
	border-style: solid;
	border-radius: 5px;
	color: #000;
	transition: .3s ease;
}
.myacc-class:hover {
	background-color: #fff;
	border-color: #f99b46;
	color: #000;
	border-width: 3px;
}

/* ---CONTACT US--- */


#contactPic {
	height: 500px;
	background-image: url(images/contact-us-pic.png);
}
#contact-form {
	padding: 100px 140px 40px 140px;
	display: block;
}
.arrowDown {
	padding: 100px 0 0 250px;
}
.arrowDown > a {
	padding: 5px;
	display: inline-block;
	border: solid 1.3px #000;
	border-radius: 15px;
	transition: .7s ease;
}
.arrowDown > a:hover {
	border-color: #fff;
}
.font-25 {
	font-size: 25px;
	font-family: oswaldreg;
}
/*.rad-oswald-18 {
	font-size: 18px;
	padding: 0 5px;
}*/
.contact-required {
	font-size: 16px;
	font-style: italic;
}
.contact-input {
	width: 500px; height: 40px;
	font-size:16px;
	padding-left: 10px;
	border-radius: 5px;
	border-style: ridge;
}
#contact-form textarea {
	width: 493px;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	resize: none;
}
#contact-sidebar {
	float: right;
	display: inline-block;
	width: 40%;

	font-size:16px;
	text-align:center;
}
#csidebar-1 {
	
}
#csidebar-2 {
	border-width: 7px 2px;
	border-style: solid;
	border-color: #f99b46 #eaeaea;
	border-radius: 5px;
}
.more-info {
	font-size: 24px;
	font-weight: bold;
}

/* ---BASKET--- */


#basket-box {
	margin:50px 30px 50px 70px;
	padding: 20px 20px 20px 35px;
	display: inline-block;
	font-size: 18px;
}
#basket-header {
	font-size: 33px;
}
.basket-body {
	/*padding-top: 15px;
	padding-bottom: 15px;*/
}
.basket-td {
	/*margin: 10px 20px 10px 20px;*/
	padding: 10px 20px 10px 20px;
	vertical-align: top;

	border-width: 2.5px;
	border-color: #c4c4c4;
	border-style: solid;
}
.basket_buttons{
	padding: 4px 10px;
	background-color: #f99b46;
	border-width: 1px;
	border-color: #f99b46;
	border-style: solid;
	border-radius: 5px;
	color: #000;
	font-size: 16px;
}
.basket_buttons:hover {
	background-color: #dcdcdc;
	transition: .3s ease;
	color: initial;
}
/*.bktd1 {width: 182px;}
.bktd2 {width: 350px;}
.bktd3 {width: 130px;}
.bktd4 {width: 100px;}*/

.bktd1 {width: 24%;}
.bktd2 {width: 47%;}
.bktd3 {width: 17%;}
.bktd4 {width: 13%;}

/* ---PRODUCTSSSSSS--- */


#product-page {
	margin: 0 120px 0 120px;
}
#product-nav {
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #ababab;
	border-radius: 3px;
}
.product-info {
	margin: 30px 40px;
}
.product-info-img {
	display: inline-block;
	width: 400px;
	padding-right: 40px; 
}
.subproduct-info {
	vertical-align: top;
	display: inline-block;
}
.product-header {
	display: inline-block;
	font-size: 35px;
}
.price {
	font-size: 20px;
}
.submit-product {
	text-decoration: none;
	font-weight: bold; font-size: 18px;
	letter-spacing: 0px;
	background-color: #fff;
	padding: 7px 10px;
	border-radius: 3px;
	border-color: #fbd27e;
	background-color: #f6a708;
	color: white;
}
.submit-product:hover {
	cursor: pointer;
	color: black;
	background-color: #fbd27e;
	border-color: #f6a708;
	transition: .3s ease;

}
.item-description {
	margin: 20px;
	padding: 5% 10% 10% 10%;
	border-style: solid;
	border-color: #f99b46 #ababab #ababab #ababab;
	border-width: 3px 2px 2px 2px;
	border-radius: 3px;
	font-size: 22px;

}

/* ---SIGNUP---*/


#formbg {
	background-image: url('images/about-background.png.');
}
#signUpForm {
	border-width: 7px 2px 2px 2px;
	border-color: #f6a708 #fff #fff #fff ;
	border-style: solid;
	border-radius: 5px;
	background-color: white;
	margin: 200px 30px;
	display: inline-block;
}
#signUpForm input {
	font-size: 18px;
	border: solid 1.4px grey;
	border-radius: 2px;
	padding: 5px 10px;
}
#create-account-header {
	font-size: 27px;
	background-color: #ebf63b;
	border-radius: 2px;
}
.width-600 {
	width: 450px;
}
.width-300 {
	width: 200px;
}
#registerButton {
	background-color: #f99b46;
	font-family: oswaldreg;
	transition: all .3s ease;
}
#registerButton:hover {
	background-color: #fff;
	color: #f6a708;
	font-weight: bolder;
	border-style: solid;
	border-color: #f6a708;
}
#formstyle {
	text-align: left;
	padding: 0px 10px 30px 10px;
}
#formstyle > p {
	text-align: center;
	font-size: 16px;
}
#formstyle > label {
	padding-left: 5px;
}
.field-validity {
	color: red;
	font-size: 12px;
	padding: 5px;
}
.field-success {
	color: #00ff0f;
	font-size: 12px;
	padding: 5px;
}
.td-login {
	padding: 5px;
}
#checkout_form > p , #checkout_form > form, #checkout_form > hr {
	display: inline-block;
}
#checkout_form > hr {
	width: 50%; text-align: left;
}
#formfooter {
	background-color: #eaeaea;
	border-top-color: #a9a9a9;
	border-top-style: solid; 
	border-top-width: 2px;
	font-size: 14px;
	padding: 20px;
}
#chkbxs {
	font-size: 14px;
	text-align: left;
	padding: 10px 10px;
}

#captchadiv {
	padding: 10px;
	margin: 15px;
	text-align: center;

	border-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: #ececec;

}

	/* TERMS AND CONDITIONS*/
	#modal_terms {
		border-style: none;
		background-color: #fff;
		border-width: none;
		border-color: none;
		border-radius: none;
		margin: 0;
		padding: 0;
	}


/* ---FEATURES--- */


a {
	text-decoration: none;
	color: #000; 
	transition: .3s ease;
	}/*SOON-TO-BE-EXPELLED*/
a:hover {
	color: #f6a708;
	text-decoration: none;
}
a.Onow:hover , a.Snow:hover , input.Snow:hover {
	background-color: #fff;
	border-color:#dedede;
	cursor: pointer;
	color: #f6a708;
}
@font-face{font-family: lemon;src: url(fonts/lemontuesday.otf);}
@font-face{font-family: oswald;src: url(fonts/oswald.ttf);}
@font-face{font-family: oswaldreg;src: url(fonts/Oswald-Regular.ttf);}
@font-face{font-family: consolai; src: url(consolai.ttf);}
.Onow , .Snow {
	font-family: oswald; text-decoration: none;
	font-weight: bolder; font-size: 25px;
	letter-spacing: 5px;
	border-radius: 10px;
	border-color: #f99b46;
	border-width: 2px;
	border-style: solid;
	background-color: #f99b46;
	padding: 10px 40px;
	color: #fff;
	transition: .3s ease;
}

/* ---IMAGES--- */


#home-candela {
	margin-bottom: auto auto 40px auto;
	direction: rtl;
	display: inline-block;

	width: auto;
	height: 350px;
}

/* ---FOOTER--- */


.footer {
	background-color: #eaeaea;
	padding: 25px 80px 25px 80px;
	font-size: 17px;
	line-height: 2;
	border-top-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 1px;
	width: 100%;
	bottom: 0;
}
.footer > span {
	float: right;
}
.fnav {
	color: black;
}
.fsocial-acc {
	height: 30px;
}

/* ---CHECKOUT--- */
#checkout-box {
	margin:50px 120px;
	padding: 20px 20px 20px 35px;
	display: inline-block;
	font-size: 18px;
}
#form_checkout {
	text-align: left;
	padding: 0px 10px;
}
#form_checkout > p {
	text-align: center;
	font-size: 16px;
}
#form_checkout > label {
	padding-left: 5px;
}
.blue_button{
	padding: 5px 20px;
	background-color: #29799e;
	border-width: 1px;
	border-color: #267295;
	border-style: solid;
	border-radius: 5px;
	color: #fff;
	transition: all .2s ease;
}
.blue_button:hover {
	background-color: #f99b46;
	border-color: #fbd27e;
	color: #fff;
}
.lend_feedback {
	font-size: 120%;
	padding: 5px 15px;
	background-color: #f99b46;
	border-width: 1px;
	border-color: #f99b46;
	border-style: solid;
	border-radius: 5px;
	color: #000;
	transition: .3s ease;
}
.lend_feedback:hover {
	background-color: #fff;
	color: #000;
	border-width: 3px;
}
form#addr_save > input {
	padding: 10px;
	transition: .2s ease;
	margin: 0 10px;
}

/* ---MYACCOUNT PAGE--- */
#accountnav {
	padding: 10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-color: #2626e5;
	border-bottom-color: #2626e5;
	font-size: 120%;
}
.acc-content {
	padding: 20px 40px;
}
.subacc-content {

}
.tdacc-details {
	padding: 5px 20px;

	font-size: 110%;
}
.savechanges {
	float: right;
	display: inline-block;
	border-style: solid;
	border-color: #ffa200;
	border-width: 2px;
	background-color: #fff;
	border-radius: 3px;
	font-size: 120%;
	transition: .3s ease;
	padding: 0 10px;
}
.savechanges:hover {
	border-color: #dbdbdb;
	background-color: #f99b46;
	padding: 0 20px;
}
.field-validity-myaccount , .field-success-myaccount {
	font-size: 14px;
}
.field-success-myaccount {
	color: #00ff0f;
}
.field-validity-myaccount {
	color: red;
}
.newpass-tr-style {
	border-style: solid;
	border-color: #239ef9 #239ef9 #fff #239ef9;
	border-width: 2px 2px 0 2px;
	border-radius: 3px;
}
.confirm-tr-style {
	border-style: solid;
	border-color: #fff #239ef9 #239ef9 #239ef9;
	border-width: 0 2px 2px 2px;
	border-radius: 3px;
}
#deleteacc {
	font-size: 130%;
	padding: 10px 40px;
	color:red;
	text-decoration: underline;
	background-color: #fff;
	transition:.1s ease;
	border-style: groove;
	border-color: grey;
}
#deleteacc:hover {
	background-color: #f9f9f9;
	color: #ff3f3f;
}
#checkoutHistory {
	margin: 60px 0 0 0;
}
#checkoutHistory_content {
	padding: 40px;
	font-size: 130%;
}
.chk-hrstyle {
	background-color: #f99b46;
	height: 1;
	width: 50%;
}
.chk-hrstyle-table {
	margin: 2% 5%;
}
.chk-hrstyle-table-td {
	padding: 20px;
}
.delete_confirmation {
	padding: 10px;
	font-size: 40px;
	color: black;
}
.delete_confirmation > p {
	padding: 5px 0;
}
.delete_confirmation > input {
	padding: 5px 15px;
}

#checkout_note {
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: #000;
	width: 80%;
	padding: 5px;
	font-size: 90%;
	display: inline-block;
}
#address_warning {
	width: 80%;
	text-align: center;
}
.shipping-fee {
	margin: 30px;
}
#address_warning > p {
	color: #f93737;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: #f92b2b;
	padding: 5px;
	width: 80%;
	font-size: 80%;
	display: inline-block;
}
.red-reminders {
	color: #f93737;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: #f92b2b;
	padding: 5px;
	font-size: 80%;
	text-align: center;
}
.less500 {
	border-color: #f99b46 #396fc6 #396fc6 #396fc6;
	border-width: 3px 1px 1px 1px;
	border-style: solid;
	padding: 3px 5px;
	margin: 8px 5px;
	text-align: center;
}
.dismiss-request {
	border-color: #4a6bff;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	padding: 5px;
}
.changed-addr-num {
	padding: 5px;
	display: inline-block;
	border-color: #dca551 #fff;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
}