/* TABLE OF CONTENTS
*	- HTML elements
*	- Website Colors
*	- Padding and Margin
*	- Website Fonts
*	- FONTS
*	- Images
*	- Buttons
*   - MODAL
*	- Navigation
*	- Footer
*	- Home
*	- About
*	- FAQs
*	- Contacts
*	- Products
*	- Specific Products
*	- Login and Register
*	- Basket Page
*	- My Account Page
*	- Checkout Page
*	- Confirmation Page
*	- Success Page
*	- More Features
*/

body {
	margin:0;

	font-family: oswald; /* pwede ring gawing sans-serif */
	font-size: 16px;
}
* {
	box-sizing: border-box;
}
textarea {
	resize: both;
}




/* WEBSITE COLORS ----------------------------------- */
.bg-color-1 {
	background-color: #ffc44d;
}
.color-1 {
	background-color: #f99b46;
}
.color-2-green {
	color: #13c62e;
}

.bg-color-2 {
	background-color: #e89b00;
}
/* END OF WEBSITE COLORS ----------------------------------- */





/* PADDING AND MARGIN ----------------------------------- */

/* For Even Smaller Devices */
@media (min-width: 0px) {
	.padding-x-1, .padding-x-3 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.padding-x-4 {
		padding-left: 20px;
		padding-right: 20px;
	}


	.padding-y-1 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.padding-y-2 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.padding-y-3 {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
/* For Small Devices */
@media (min-width: 576px) {
	.padding-x-1, .padding-x-2, .padding-x-3 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding-x-4 {
		padding-left: 50px;
		padding-right: 50px;
	}


	.padding-y-1 {
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.padding-y-2 {
		padding-top: 65px;
		padding-bottom: 65px;
	}
}

/* For Medium Devices */
@media (min-width: 768px) {
	.padding-x-1 {
		padding-left: 80px;
		padding-right: 80px;
	}
	.padding-x-2, .padding-x-3 {
		padding-left: 50px;
		padding-right: 50px;
	}
	.padding-x-4 {
		padding-left: 90px;
		padding-right: 90px;
	}
}

/* For Large Devices */
@media (min-width: 992px) {
	.padding-x-1 {
		padding-left: 130px;
		padding-right: 130px;
	}
	.padding-x-2, .padding-x-3 {
		padding-left: 100px;
		padding-right: 100px;
	}
	.padding-x-4 {
		padding-left: 140px;
		padding-right: 140px;
	}
}
/* END OF PADDING AND MARGIN ----------------------------------- */





/* WEBSITE FONTS ----------------------------------- */
@font-face{font-family: lemon;src: url(fonts/lemontuesday.otf);}
@font-face{font-family: oswald;src: url(fonts/oswald.ttf);}
@font-face{font-family: oswaldreg;src: url(fonts/Oswald-Regular.ttf);}
@font-face{font-family: consolai; src: url(consolai.ttf);}
/* END OF WEBSITE FONTS ----------------------------------- */





/* FONTS ----------------------------------- */
.font-13 {
	font-size: 13px;
}
.font-14 {
	font-size: 14px;
}
.font-16 {
	font-size: 16px;
}
.font-20 {
	font-size: 20px;
}
.font-25 {
	font-size: 25px;
}
.font-30 {
	font-size: 30px;
}
.font-35 {
	font-size: 35px;
}
.font-40 {
	font-size: 40px;
}
.font-60 {
	font-size: 60px;
}
/* END OF FONTS ----------------------------------- */





/* IMAGES ----------------------------------- */
#home-candela {
	width: 100%;
}

/* For Large Devices */
@media (min-width: 1200px) {
	#home-candela {
		width: 65%;
	}
}
/* END OF IMAGES ----------------------------------- */






/* SIDE BAR ----------------------------------- */
.sidebar-box-1 {
	border-color: #f99b46 #ababab #ababab #ababab;
	border-width: 7px 2px 2px 2px;
	border-style: solid;
	border-radius: 5px;
}
.sidebar-box-2 {
	border-color: #f99b46 #eaeaea;
	border-width: 7px 2px;
	border-style: solid;
	border-radius: 5px;
}
.sidebar-box-3 {
	border-color: #eaeaea #f99b46;
	border-width: 2px 7px;
	border-style: solid;
	border-radius: 5px;
}

/* END OF SIDEBAR ----------------------------------- */





/* BUTTONS ----------------------------------- */

/* Button 1 - BIG COLORED BUTTON */
.candela-btn-1 {
	background-color: #fff;
	border-color: #fff;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 5px;
	transition: .3s ease;
}


/* Button 2 - ROUNDED WHITE BUTTON */
.candela-btn-2 {
	font-size: 24px;
	text-align: center;
	padding: 20px;
}
.candela-btn-2 > a {
	background-color: #fff;
	border: 1.2px solid #fff;
	border-radius: 40px;
	padding: 10px 20px;
}
.candela-btn-2 > a:hover {
	background-color: rgba(255, 255, 255, .2);
	color: #000;
}

/* END OF BUTTONS ----------------------------------- */





/* MODAL ----------------------------------- */
#myBtn:hover {
	color: green;
	cursor: pointer;
}
.modal {
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	
	overflow: auto; /* Enable scroll if needed */
}
.modal-content {
	background-color: #fefefe;
	margin: 8% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 75%; /* Could be more or less, depending on screen size */
	
	font-family: sans-serif;
	font-size: 20px;
}
.modal-content > h2 {
	font-weight: bolder;
}
.modal-close {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	padding: 0 10px;
}

.modal-close:hover, .modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/* END OF MODAL ----------------------------------- */





/* NAVIGATION ----------------------------------- */
#header, #bottom_header {
	padding-top: 10px;
	padding-bottom: 10px;

	font-size: 18px; 
	font-weight: bolder;
	text-transform: uppercase;
}
#header a:hover, #bottom_header a:hover {
	color: #fcfcfc;
	transition: .3s ease;
}
#nav-basket {
	display: inline-block;
	letter-spacing: 1px;
}
.navi {
	padding: 5px 10px;
	display: inline-block;
	letter-spacing: 2px;
}
.body-content {
	min-height: 62vh;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .body-content {
	padding-top: 65px;
}
/* END OF NAVIGATION ----------------------------------- */





/* FOOTER ----------------------------------- */
.footer {
	background-color: #eaeaea;
	line-height: 2;
	border-top-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 1px;
	bottom: 0;
}
.fsocial-acc {
	height: 30px;
}
/* END OF FOOTER ----------------------------------- */





/* HOME ----------------------------------- */

/* FOR WELCOME SECTION */
#tagline-description {
	padding: 20px;
}
#tagline {
	font-family: oswaldreg;
	font-weight: bold;

	letter-spacing: 5px;
	line-height: normal;
}
#description {
	padding: 20px 0;
	
	letter-spacing: 3px;
	line-height: 2;
}
#product-picture {
	padding: 20px;
}

/* FOR MY ORDER SECTION */
@media (min-width: 0px) {
	.recent-order-img {
		width: 90%;
		height: auto;
	}
	.recent-order-img-admin {
		width: 35%;
		height: auto;
	}
}
@media (min-width: 992px) {
	.recent-order-img, .recent-order-img-admin {
		width: 35%;
		height: auto;
	}
}
.order-buttons {
	padding: 4px 10px;
	margin-top: 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	background-color: #dcdcdc;
	border-color: #dcdcdc;

}
.order-buttons.active {
	background-color: #f99b46;
	border-color: #f99b46;
}

.order-buttons:hover {
	background-color: #f99b46;
	transition: .3s ease;
	color: initial;
}
.order-status {
	background-color: #f7d5b8;
	padding: 5px 20px;
	border-radius: 20px;
}

/* FOR FEATURED PRODUCT SECTION */
#featured-items {
	color: #000;
	text-align: center;
	background-image: url('images/smudged-orange.png');
	background-size: 250% 250%;
		background-repeat: repeat;
		width: 100%;
	margin: 0;
	padding: 20px 0;
}
.display-product {
	text-align: center;
	border-style: solid;
	border-width: 1.2px;
	border-color: #fff;
	border-radius: 2px;
	padding: 20px 30px;
	margin: 20px 50px;
	transition: .5s ease;
}

/* FOR LOGIN PROMOTION SECTION */
#login-now {
	text-align: center;
}
.login-promotion {
	line-height: 2;
	letter-spacing: 1px;
}
.login-promotion > hr {
	background-color: blue;
	height: 5px;
}
.login-promotion > span {
	font-size: 14px;
	letter-spacing: 2px;
}
.login-promotion > span > a {
	text-decoration: underline;
}
/* END OF HOME ----------------------------------- */





/* ABOUT ----------------------------------- */
#about-section-1 {
	background: url("images/about-background.png") fixed no-repeat;
}
.about-descriptions {
	background-color: rgb(255,255,255, 0.8);
	border-radius: 25px;
	padding: 20px;

	letter-spacing: 1px;
	line-height: 2;
}
#about-section-3 {
	padding: 15px 100px;
	background-color: #f99b46;
	transition: .5s ease;
}
#about-section-3:hover {
	background-color: rgb(255, 196, 77, .8);
}
#about-section-4 {
	padding: 20px 100px;
	background-color: #ffc44d;
	transition: .5s ease;
	font-size: 20px;
	direction: rtl;
}
#about-section-4:hover {
	background-color: rgba(242.1 , 169.4, 22.7, .5);
}
#about-section-3-description {
	display: inline-block;
	text-align: center;
	padding: 20px;
	font-size: 35px;
	line-height: 1.5;
}
#about-arrow {
	border-radius: 50px;
}
.about-logo img {
	width: 300px;
	height: auto;
}
/* END OF ABOUT ----------------------------------- */





/* FAQS ----------------------------------- */
#faq-header {
	font-family: oswaldreg; 
	font-size: 52px;
}
#faq-body {
	font-size: 19px;
}
#faq > hr {
	width: 200px;
	background-color: #ffa500;
	border: 1px solid #ffa500;
}
.faq-subquestions , .faq-answers {
	border-color: #ababab;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
}
.faq-subquestions {
	background-color: #ffd580;
}
.faq-answers {
	background-color: #e7e7e7;
}
#faq-sidebar {
	padding: 20px 30px;
	text-align: center;
}
/* END OF FAQS ----------------------------------- */





/* CONTACTS ----------------------------------- */
#contactPic {
	height: 500px;
	background-image: url(images/contact-us-pic.png);
}
.contact-input {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	border-radius: 5px;
	border-style: ridge;
}
#contact-form textarea {
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
}
/* END OF CONTACTS ----------------------------------- */





/* PRODUCTS ----------------------------------- */
#product-header{
	letter-spacing: 2px;
}
/* DISPLAY PRODUCTS*/
#products {
	display: inline-block;
	width: 68%;
}

	/* PRODUCT ITEMS*/
	.items {
		border-color: #f99b46 #eaeaea;
		border-width: 4px 2px;
		border-style: solid;
		border-radius: 5px;
		transition: .5s ease;
		padding-bottom: 30px;
		padding-top: 30px;
		margin: 10px 20px;
	}
	.items:hover {
		border-color: #f99b46;
		background-color: #ffd087;
	}
	/* PRODUCT PICTURE */
	.product-pic img {
		width: 60%;
		height: auto;
	}

	/* PRODUCT QUANTITY */
	.product-quantity {
		font-size:14px;
		padding: 2px;
		border-radius: 3px;
		border-style: ridge;
	}

	/* PRODUCT LINKS */
	.item-links {
		margin-bottom: 10px;
		font-weight: bold; 
		letter-spacing: 3px;
		background-color: #fff;
		padding: 5px;
	
		border-color: #fbd27e;
		border-width: 2px;
		border-style: ridge;
		border-radius: 3px;
	
		transition: .3s ease;
	}
	.item-links:hover {
		cursor: pointer;
		color: #000;
		background-color: rgba(0, 255, 0, .4);
		border-color: #f6a708;
	}


/* DISPLAY SIDEBAR */
#prod-sidebar {
	margin: auto;
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

	/* SIDEBAR - SIDE BASKET */
	.pbasket-td {
		padding: 10px;
	}
	.remove-item {
		color:red; 
		font-size: 70%; 
		background-color: #fff; 
		border: none;
	}

	/* SIDEBAR - MY ACCOUNT BUTTON */
	.myacc-sidebar {
		text-align: center;
		margin: 10px auto;
		padding: 5px;
	}
	.myaccount-button {
		background-color: rgba(0, 0, 255, .3);
		border-color: #4a6bff;
		border-style: solid;
		border-width: 1px;
		border-radius: 5px;
		
		padding: 5px 15px;

		transition: .3s ease;
	}
	.myaccount-button:hover {
		background-color: #fff;
		border-color: #f99b46;
		border-width: 3px;
		color: #000;
	}

/* For Large Devices */
@media (max-width: 1200px) {
	#products {
		width: 100%;
	}
	#prod-sidebar {
		display: none;
	}
}
/* END OF PRODUCTS ----------------------------------- */




/* SPECIFIC PRODUCTS ----------------------------------- */

#product-nav {
	padding: 10px;
	border-color: #ababab;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
}
.product-header {
	display: inline-block;
	font-size: 35px;
}
.item-description {
	margin: 20px;
	padding: 5%;
}
.item-main-info {
	text-align: center;	
}
/* For Small Devices */
@media (min-width: 576px) {
	.item-main-info {
		text-align: left;	
	}
}
/* END OF SPECIFIC PRODUCTS ----------------------------------- */





/* LOGIN AND REGISTER ----------------------------------- */
#formbg {
	background-image: url('images/about-background.png.');
}
#signUpForm {
	border-color: #f6a708 #fff #fff #fff ;
	border-width: 7px 2px 2px 2px;
	border-style: solid;
	border-radius: 5px;
	background-color: white;
	margin: 100px auto;
}
#signUpForm input {
	font-size: 18px;
	border: solid 1.4px grey;
	border-radius: 2px;
	padding: 5px 10px;
}

#create-account-header {
	background-color: #ebf63b;
	border-radius: 2px;
	padding: 5px;
}

.login-text-width {
	width: 85vw;
}

#registerButton {
	background-color: #f99b46;
	font-family: oswaldreg;
	transition: all .3s ease;
}

#registerButton:hover {
	background-color: #fff;
	color: #f6a708;
	font-weight: bolder;
	border-style: solid;
	border-color: #f6a708;
}

#formstyle > p {
	text-align: center;
}

#formstyle > label {
	padding-left: 5px;
}
.field-validity {
	color: red;
	font-size: 12px;
	padding: 5px;
}
.field-success {
	color: #00ff0f;
	font-size: 12px;
	padding: 5px;
}

#formfooter {
	background-color: #eaeaea;
	border-top-color: #a9a9a9;
	border-top-style: solid; 
	border-top-width: 2px;
	font-size: 14px;
	padding: 20px;
}
/* For Medium Devices */
@media (min-width: 768px) {
	.login-text-width {
		width: 50vw;
	}
}

/* For Large Devices */
@media screen and (min-width: 992px) {
	.login-text-width {
		width: 35vw;
	}
}

/* END OF LOGIN AND REGISTER ----------------------------------- */




/* BASKET PAGE ----------------------------------- */
.basket-td {
	padding: 10px 20px 10px 20px;
	vertical-align: top;

	border-width: 1px;
	border-color: #c4c4c4;
	border-style: solid;
}
.basket_buttons{
	padding: 4px 10px;
	border-width: 1px;
	background-color: #f99b46;
	border-color: #f99b46;
	border-style: solid;
	border-radius: 5px;
}
.basket_buttons:hover {
	background-color: #dcdcdc;
	transition: .3s ease;
	color: initial;
}
.desktop-basket {
	display: none;
}
.mobile-basket {
	display: block;
}
/* Basket with larger screens */
@media (min-width: 768px) {
	.desktop-basket {
		display: block;
	}
	.mobile-basket {
		display: none;
	}
}
/* END OF BASKET PAGE ----------------------------------- */




/* MY ACCOUNT PAGE ----------------------------------- */

/* GENERAL INFORMATION */
	#accountnav {
		padding: 10px;
		border-top-style: solid;
		border-bottom-style: solid;
		border-top-width: 2px;
		border-bottom-width: 2px;
		border-top-color: #2626e5;
		border-bottom-color: #2626e5;
		font-size: 120%;
	}
	.tdacc-details {
		padding: 5px 20px;
		font-size: 110%;
	}
	.savechanges {
		background-color: #fff;
		border-color: #ffa200;
		border-style: solid;
		border-width: 2px;
		border-radius: 3px;
		font-size: 120%;
		transition: .3s ease;
		padding: 0 10px;
		float: right;
	}
	.savechanges:hover {
		border-color: #dbdbdb;
		background-color: #f99b46;
		padding: 0 20px;
	}
	.field-validity-myaccount , .field-success-myaccount {
		font-size: 14px;
	}
	.field-success-myaccount {
		color: #00ff0f;
	}
	.field-validity-myaccount {
		color: red;
	}
/* CHANGE PASSWORD */
	.newpass-tr-style {
		border-color: #239ef9 #239ef9 #fff #239ef9;
		border-width: 2px 2px 0 2px;
		border-style: solid;
		border-radius: 3px;
	}
	.confirm-tr-style {
		border-color: #fff #239ef9 #239ef9 #239ef9;
		border-width: 0 2px 2px 2px;
		border-style: solid;
		border-radius: 3px;
	}
/* DELETE ACCOUNT */
	#deleteacc {
		font-size: 130%;
		padding: 10px 40px;
		color:red;
		text-decoration: underline;
		background-color: #fff;
		transition:.1s ease;
		border-style: groove;
		border-color: grey;
	}
	#deleteacc:hover {
		background-color: #f9f9f9;
		color: #ff3f3f;
	}
	.delete_confirmation {
		padding: 10px;
		font-size: 40px;
		color: black;
	}
	.delete_confirmation > p {
		padding: 5px 0;
	}
	.delete_confirmation > input {
		padding: 5px 15px;
	}
/* CHECKOUT HISTORY */
#checkoutHistory_content {
	padding: 40px;
	font-size: 130%;
}
.chk-hrstyle {
	background-color: #f99b46;
	height: 1;
	width: 50%;
}
.chk-hrstyle-table {
	margin: 2% 5%;
}
.chk-hrstyle-table-td {
	padding: 20px;
}


.checkout_note {
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: #000;
	width: 80%;
	padding: 5px;
	font-size: 90%;
	display: inline-block;
}



.dismiss-request {
	border-color: #4a6bff;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	padding: 5px;
}
.changed-addr-num {
	padding: 5px;
	display: inline-block;
	border-color: #dca551 #fff;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
}
/* END OF MY ACCOUNT PAGE ----------------------------------- */





/* CHECKOUT PAGE ----------------------------------- */
#checkout-box {
	font-size: 18px;

}
.reminders {
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	padding: 5px;
	text-align: center;
}
.less500 {
	border-color: #f99b46 #396fc6 #396fc6 #396fc6;
	border-width: 3px 1px 1px 1px;
	border-style: solid;
	padding: 3px 5px;
	margin: 10px 5px;
}
#address_warning {
	width: 80%;
	text-align: center;
}
#address_warning > p {
	color: #f93737;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: #f92b2b;
	padding: 5px;
	font-size: 80%;
	display: inline-block;
	text-align: center;
}
.blue_button{
	padding: 5px 20px;
	background-color: #29799e;
	border-width: 1px;
	border-color: #267295;
	border-style: solid;
	border-radius: 5px;
	color: #fff;
	transition: all .2s ease;
}
.blue_button:hover {
	background-color: #f99b46;
	border-color: #fbd27e;
	color: #fff;
}
/* END OF CHECKOUT PAGE ----------------------------------- */





/* CONFIRMATION PAGE ----------------------------------- */
.checkout-info {
	border-color: #f99b46;
	border-width: 4px 2px;
	border-style: solid;
	border-radius: 5px;
}
#captchadiv {
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: #ececec;
}
/* END OF CONFIRMATION PAGE ----------------------------------- */





/* SUCCESS PAGE ----------------------------------- */
.lend_feedback {
	font-size: 120%;
	padding: 5px 15px;
	background-color: #f99b46;
	border-width: 1px;
	border-color: #f99b46;
	border-style: solid;
	border-radius: 5px;
	color: #000;
	transition: .3s ease;
}
.lend_feedback:hover {
	background-color: #fff;
	color: #000;
	border-width: 3px;
}
/* END OF SUCCESS PAGE ----------------------------------- */





/* MORE FEATURES ----------------------------------- */
a {
	text-decoration: none;
	color: #000; 
	transition: .3s ease;
}
a:hover {
	color: #f6a708;
	text-decoration: none;
}
a.Onow:hover , a.Snow:hover , input.Snow:hover {
	background-color: #fff;
	border-color:#dedede;
	cursor: pointer;
	color: #f6a708;
}

.Onow , .Snow {
	font-family: oswald; text-decoration: none;
	font-weight: bolder; font-size: 25px;
	letter-spacing: 5px;
	border-radius: 10px;
	border-color: #f99b46;
	border-width: 2px;
	border-style: solid;
	padding: 10px 40px;
	background-color: #f99b46;
	color: #fff;
	transition: .3s ease;
}
/* END OF MORE FEATURES ----------------------------------- */

